name: Build & Deploy

on:
  push:
    branches:
      - main

jobs:
  docker:
    name: Build and Push to Docker Hub
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/hola-mundo-app .

    - name: Push Docker image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/hola-mundo-app

  deploy:
    name: Deploy to Render
    runs-on: ubuntu-latest
    needs: docker

    steps:
    - name: Trigger Render Deployment
      run: |
        curl -X POST https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID }}/deploys \
        -H "Accept: application/json" \
        -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
        -d '{}'